---
# tasks file for hoplacloud.vhostdeploy_nginx
- name: Ensure the vhost_deploy directory is present
  file:
    path: /usr/src/vhost_deploy_nginx
    state: directory

- name: Get the vhost_deploy script for Single Node
  copy:
    src: files/vhost_deploy.sh
    dest: /usr/src/vhost_deploy_nginx/vhost_deploy.sh

- name: Set the X right to vhost_deploy.sh script
  file:
    path: /usr/src/vhost_deploy_nginx/vhost_deploy.sh
    mode: 0755

- name: Creating symlink for vhost_deploy.sh script
  file:
    src: /usr/src/vhost_deploy_nginx/vhost_deploy.sh
    dest: /usr/local/sbin/vhost_deploy
    state: link

- name: Configure the customer ID in vhost_deploy.sh script
  lineinfile:
    path: /usr/src/vhost_deploy_nginx/vhost_deploy.sh
    regexp: '^adminUser'
    line: 'adminUser="{{ user_name }}"'

- name: Configure the customer Email in vhost_deploy.sh script
  lineinfile:
    path: /usr/src/vhost_deploy_nginx/vhost_deploy.sh
    regexp: '^adminEmail'
    line: 'adminEmail="{{ user_email }}"'

- name: Configure the PHP version in vhost_deploy.sh script (phpfpmDaemonName)
  lineinfile:
    path: /usr/src/vhost_deploy_nginx/vhost_deploy.sh
    regexp: '^phpfpmDaemonName'
    line: 'phpfpmDaemonName="php{{ php_version }}-fpm"'

- name: Configure the PHP version in vhost_deploy.sh script (phpfpmPoolPrefix)
  lineinfile:
    path: /usr/src/vhost_deploy_nginx/vhost_deploy.sh
    regexp: '^phpfpmPoolPrefix'
    line: 'phpfpmPoolPrefix="/etc/php/{{ php_version }}/fpm/pool.d"'

- name: Configure the PHP version in vhost_deploy.sh script (listener)
  lineinfile:
    path: /usr/src/vhost_deploy_nginx/vhost_deploy.sh
    regexp: '^listen = /run/php'
    line: 'listen = /run/php/php{{ php_version }}-fpm-$1_$2.sock'
